__pycache__/
.DS_Store
.idea/
analysis/
confusion_similarity_matrix.png
clip-event-finetuned
event-cnn-trained
sspspace
IEBCS/
wandb/
autoencoder/

explorations_*/
explorations/
experiments/
memories/

*.ckpt
*.pt
*.pth
CRIB Data
